@import "./05-styles.css";

/* menu btn */

.header .menu-btn:checked ~ .navbar-menu {
  display: block;
}

.menu-btn:checked ~ .navbar-menu .nav {
  max-height: 100%;
  overflow: inherit;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon::before,
.header .menu-btn:checked ~ .menu-icon .navicon::after {
  top: 0;
}

@media (max-width: 767px) {
  :root {
    --header-padding: 2rem 0 0;
  }

  .header {
    background: var(--color-black);
  }
  .header-container {
    flex-wrap: wrap;
    padding: 0 1.5rem;
  }
  .header .menu-icon {
    display: block;
  }
}

@media (max-width: 480px) {
  .header-logo {
    flex-basis: 70%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header-logo {
    flex-basis: 79%;
  }
}

/* .header .menu-btn {
    display: none;
} */

/* Section HERO */

@media (max-width: 767px) {
  .section-hero {
    margin: -0.1rem 0;
  }
  .hero-homepage {
    background-position: 85% 0;
  }
  .section-hero .section-body {
    padding: 2rem;
  }
}
